body {
    background-color: #fefefe;
}

.site-wrapper {
    max-width: 1920px;
}

.content-wrapper {
    max-width: 1366px;
}

.sign-in-form {
    max-width: 330px;
    padding: 1rem;
}

.sign-in-form .form-floating:focus-within {
    z-index: 2;
}

.sign-in-form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sign-in-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.iti {
    width: 100%;
}
