body {
    background-color: #fefefe;
}

.site-wrapper {
    max-width: 1920px;
}

.content-wrapper {
    max-width: 1366px;
}

.sign-in-form {
    max-width: 330px;
    padding: 1rem;
}

.sign-in-form .form-floating:focus-within {
    z-index: 2;
}

.sign-in-form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sign-in-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-active {
    color: #ec6108;
    font-weight: 450;
    text-decoration: none;
}

.sidebar-not-active {
    color: white;
    font-weight: 450;
    text-decoration: none;
}

.sidebar-not-active:hover {
    color: #ec6108;
    font-weight: 450;
    text-decoration: none;
}

.iti {
    width: 100%;
}
